* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: rgb(196, 238, 174);
  background: linear-gradient(
    328deg,
    rgba(196, 238, 174, 1) 0%,
    rgba(217, 194, 180, 1) 54%,
    rgba(233, 148, 148, 1) 100%
  );
}

.container {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template:
    ".  poke      title  poke2      ." 20%
    ".  content  content  content  ." 70%
    ".  .       foot    .    ." auto /
    30% 5% 30% 5% auto;
}

@media (max-width: 768px) {
  .container {
    grid-template:
      ".  poke      title  poke2      ." 20%
      ".  content  content  content  ." 70%
      ".  foot       foot    foot    ." auto /
      20% 7% 46% 7% auto;
  }
  .box_poke {
    padding: 0;
  }
  .box_poke_render {
    padding: 0;
  }
}

/* TÃTULO ANIMADO */

.title_container {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: clamp(14px, 3vw, 26px);
}

.pokeball {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.pokeball > img {
  width: 50%;
  animation: rotate-center 0.6s linear infinite both;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container > .poke1 {
  grid-area: poke;
}
.container > .poke2 {
  grid-area: poke2;
}

/* */

.content {
  grid-area: content;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box_poke {
  background-color: darksalmon;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to left, #eb5050, #e7ac5b, #fbf709) 1;
  height: 80%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_poke_render {
  background-color: #8cc96b;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to left, #eb5050, #e7ac5b, #fbf709) 1;
  height: 80%;
  padding: 20px;

  display: grid;
  grid-template:
    "  .   name   ." 15%
    "  .    img   ." 55%
    "  .   types  ." 20%
    "weight  .  height" auto /
    20% 60% auto;
  justify-items: center;
  align-items: center;
}

@media (max-width: 768px) {
  .box_poke,
  .box_poke_render {
    padding: 5px;
  }
}

.box_img_poke {
  width: 100%;
  height: 100%;

  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box_img_poke > img {
  height: 100%;
  min-width: 200px;
  max-width: 250px;

  animation: beat 4s ease infinite;
  transition: all 1s linear;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

#name_poke {
  grid-area: name;
  text-shadow: 0 0 4px white;
  font-size: xx-large;
}

#type_poke {
  grid-area: types;
}

#weight_poke {
  grid-area: weight;
  font-weight: 700;
}

#height_poke {
  grid-area: height;
  font-weight: 700;
}

.title_init {
  padding: 0 25px;
  text-align: center;
  font-size: clamp(12px, 2vw, 22px);

  animation: shake-bottom 3s linear infinite both;
}

@keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#input {
  padding: 5px;
  width: 60%;
  height: 30px;
  outline: none;
  border: none;
  font-weight: 700;
  transition: all 0.2s ease;
}
#input:focus {
  box-shadow: 5px 5px 6px -1px rgba(0, 0, 0, 0.78);
}

.btn {
  background: darksalmon;
  padding: 8px 18px;
  font-weight: 900;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 1.6px 1.6px;
}
.btn:hover {
  transform: translate(-1px, -1px);
  box-shadow: 2.4px 2.4px;
}
.btn:active {
  transform: translate(0.8px, 0.8px);
  box-shadow: 0.8px 0.8px;
}

.foot {
  grid-area: foot;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: small;
}

.none {
  display: none;
}
